<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" href="phonegap/css/index.css" /> -->

  <title>Raffler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag    "http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js" %>

  <%= javascript_include_tag "jqm-config" %>

  <!-- <script type="text/javascript" src="phonegap/cordova-2.7.0.js"></script>
  <script type="text/javascript" src="phonegap/js/index.js"></script> -->

  <script type="text/javascript">
    $(document).ready(function() {
      // cordovaApp.initialize(function() { 
        // Run the Backbone application when Cordova (PhoneGap) gets fully loaded.
        App.start();
      // });
    });
  </script>
  
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
